@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components{

  .forMobile{
    @apply
    lg:hidden
    inline-flex
  }
 
  .forDesktop{
    @apply
    lg:flex
    hidden
  }

  .headerDiv{
    @apply
    lg:flex
    items-center
    space-x-7
    hidden
  }

  .headerTitle{
    @apply
    font-fira-sans
    font-normal
    lg:text-xl
    text-lg
    text-amber-500
    -inset-full
    -skew-x-6
    hover:border-b-2
    hover:border-amber-500
    transform
    transition-all
    duration-200
    ease-in-out
    cursor-pointer
  }
  

  .headerTitleForChat{
    @apply
    font-fira-sans
    font-normal
    lg:text-xl
    text-lg
    text-amber-500
    -inset-full
    -skew-x-6
    hover:border-x-2
    px-3
    py-2
    rounded-lg
    hover:border-amber-500
    transform
    transition-all
    duration-200
    ease-in-out
    cursor-pointer
  }

  .headerTitleForDev{
    @apply
    font-fira-sans
    font-normal
    lg:text-xl
    text-lg
    text-amber-500
    -inset-full
    -skew-x-6
    hover:border-x-2
    hover:border-b-2
    px-3
    py-2
    rounded-lg
    hover:border-amber-500
    transform
    transition-all
    duration-200
    ease-in-out
    cursor-pointer
  }

  .postDiv{
    @apply
    lg:h-[40%]
    md:h-[50%]
    h-[60%]
    w-[90%]
    mx-auto
    rounded-lg
    bg-slate-500
    grid
    place-items-center
    space-y-2
    hover:-skew-x-3
    hover:shadow-sm
    hover:shadow-amber-600
    duration-200
    ease-in-out
    delay-100
    transform
    transition
  }

  .neutralPostHeader{
    @apply
    w-[90%]
    h-[10%]
    md:flex
    md:items-center
    grid
    md:space-y-0
    space-y-2
    justify-between
    px-3
  }

  .postText{
    @apply
    md:inline-flex
        hidden
        h-[95%]
        w-full
        rounded-lg
        bg-slate-600
        px-3
        py-2
        overflow-y-scroll
        text-lg
        font-path-ex
        scrollbar-thin
        scrollbar-track-slate-700
        scrollbar-thumb-amber-600
        text-slate-50
  }

  .neutralPostFooter{
    @apply
    w-[90%]
    h-[20%]
    flex
    items-center
    px-3
    justify-between
  }

  .neutralPostButton{
    @apply
    lg:w-[40%]
    md:w-[60%]
    md:flex
    items-center
    justify-evenly
    hidden
    h-[30px]
    font-path-ex
    font-normal
    text-lg
    text-slate-50
    bg-amber-500
    border-0
    outline-none
    hover:bg-slate-700
    hover:text-amber-600
    hover:-skew-x-12
    transform
    rounded-lg
    transition
    duration-200
    ease-in-out
  }

  .neutralPostMobBtn{
    @apply
    md:hidden
    flex
    items-center
    justify-evenly
    w-[50%]
    h-[30px]
    font-path-ex
    font-normal
    text-lg
    text-slate-50
    bg-amber-500
    border-0
    outline-none
    hover:bg-slate-700
    hover:text-amber-600
    hover:-skew-x-12
    transform
    rounded-lg
    transition
    duration-200
    ease-in-out
  }

  .editModalMainDiv{
    @apply
    flex 
    h-screen
    w-screen 
    rounded-lg
    justify-center 
    items-center  
    fixed 
    inset-0 
    z-50 
    outline-none 
    bg-slate-900
    bg-opacity-75  
  }

  .editModalDiv{
    @apply
    flex
    flex-col
    lg:h-[50vh]
    md:h-[60vh]
    h-[70vh]
    lg:w-[40vw]
    md:w-[60vw]
    w-[80vw]
    bg-slate-600
    rounded-lg
    items-center
    overflow-hidden
  }

  .readMoreDiv{
    @apply
    inset-0
    z-50
    fixed
    h-screen
    w-screen
    overflow-hidden
    outline-none
    bg-slate-800
    bg-opacity-60
    grid
    place-items-center
  }

  .rmCenterDiv{
    @apply
    place-self-center
    lg:h-[70vh]
    md:h-[80vh]
    h-[95vh]
    lg:w-[75vw]
    md:w-[85vw]
    w-[95vw]
    rounded-md
    flex
    flex-col
    overflow-y-scroll
    scrollbar-hide
    bg-slate-700
    bg-opacity-95
  }

  .postModalHeaderText{
    @apply
    font-path-ex
    lg:text-xl
    md:text-lg
    text-base
    text-amber-600
    font-semibold
  }

  .postModalTextArea{
    @apply
    h-[85%]
    w-[90%]
    px-4
    py-3
    mx-auto
    bg-slate-900
    text-amber-500
    bg-opacity-75
    placeholder-slate-600
    font-fira-sans
    font-normal
    text-lg
  }

  .readMoreTextDiv{
    @apply
    h-full
    w-full
    px-5
    py-3
    overflow-y-scroll
    scrollbar-thin
    scrollbar-track-slate-600
    scrollbar-thumb-amber-700
    font-normal
    font-fira-sans
    text-amber-400
  }

  .commenterName{
    @apply
    lg:text-2xl
    text-xl
    font-path-ex
    font-semibold
    text-amber-500
  }

  .commentP{
    @apply
    font-normal
    lg:text-xl
    text-lg
    font-fira-sans
    text-amber-600
  }

  .cancelPostBtn{
    @apply
    w-[35%]
                    h-[45px]
                    rounded-md
                    bg-transparent
                    text-red-400
                    lg:text-lg
                    text-base
                    font-path-ex
                    font-semibold
                    border
                    border-red-500
                    hover:border-red-600
                    focus:border-red-400
                    focus:outline-none
                    transform
                    transition
                    duration-200
                    ease-in-out
  }

  .editPostBtn{
    @apply
    w-[35%]
    h-[45px]
    rounded-md
    bg-transparent
    text-amber-400
    lg:text-lg
    text-base
    font-path-ex
    font-semibold
    border
    border-amber-500
    hover:border-amber-600
    focus:border-amber-400
    focus:outline-none
    transform
    transition
    duration-200
    ease-in-out
  }

  .addCommentBtn{
    @apply
    h-[25%]
    place-self-end
    mx-3
    px-2
    rounded-lg
    bg-orange-600
    text-slate-50
    lg:text-lg
    md:text-base
    text-sm
    font-path-ex
    font-semibold
    outline-none
    hover:bg-orange-700
    hover:text-slate-100
    focus:bg-slate-900
    focus:text-orange-500
    focus:outline-none
    transform
    transition
    duration-200
    ease-in-out
  }

  .topRoomsDisplay{
    @apply
    h-[30vh]
    w-full
    px-4
    py-3
    bg-slate-700
  }

  .roomsDisplay{
    @apply
    lg:max-h-[320px]
    lg:min-h-[280px]
    md:max-h-[240px]
    md:min-h-[200px]
    max-h-[160px]
    min-h-[120px]
    w-full
    rounded-md
    bg-slate-800
    border
    border-amber-600
    hover:border-2
    hover:border-amber-500
    transform
    transition
    duration-300
    ease-in-out
    flex
    items-center
    justify-between
    space-x-4
    px-3
    py-2
  }

  .roomsDisplayDesc{
    @apply
    md:inline-flex
    w-full
        text-lg
        text-amber-600
        font-path-ex
        font-semibold
        group-hover:text-amber-700
        group-hover:-skew-x-3
        transform
        transition
        delay-100
        hidden
  }

  .roomsDisplaySpan{
    @apply
    lg:w-[40%]
    md:w-[60%]
    w-[75%]
    flex
    items-center
    justify-evenly
  }

  .roomsDisplayImg{
    @apply
    rounded-full
    p-3
    h-[60px]
    w-[70px]
    bg-techie
    bg-center
    bg-no-repeat
    border
    border-amber-500
    md:inline-flex
    hidden
  }

  .roomsDisplayModal{
    @apply
    h-[90%]
    lg:w-[80%]
    md:w-[85%]
    w-[90%]
    mx-auto
    bg-slate-700
    bg-opacity-90
    rounded
    flex
    flex-col
  }
  .roomsDisplayModalTop{
    @apply
    w-full
            justify-evenly
            md:flex
            items-center
            px-4
            py-2
            hidden
  }

  .roomsDisplayModalDesc{
    @apply
    w-full
    h-[200px]
    lg:flex
    flex-col
    space-y-2
    items-start
    hidden
  }

  .roomsDisplayModalSpan{
    @apply 
    flex
    items-center
    space-x-2 
  }

  .roomsDisplayModalTitle{
    @apply
    lg:text-lg
    text-base
    text-amber-600
    font-fira-sans
    font-normal
  }

  .roomsDisplayModalDetail{
    @apply
    lg:text-xl
    text-lg
    text-amber-600
    font-fira-sans
    font-semibold
  }

  .roomsDisplayName{
    @apply
    lg:text-2xl
    md:text-xl
    text-lg
    text-amber-500
    font-fira-sans
    font-bold
    group-hover:text-amber-600
    group-hover:-skew-x-3
    transform
    transition
    delay-100
  }

  .roomsDisplayBtns{
    @apply
    w-[30%]
    flex
    items-center
    space-x-3
    px-2
  }

.idHeaderBtn{
  @apply
  lg:grid
  place-items-center
  rounded
  w-[10%]
  px-3
  py-2
  font-path-ex
  font-semibold
  border
  text-lg
  text-amber-500
  border-amber-500
  hover:text-amber-700
  hover:border-amber-700
  hover:border-x-4
  hover:border-y-2
  focus:outline-none
  -inset-full
  hover:-skew-x-6
  transform
  transition
  delay-100
  ease-in-out
  hidden
}

.idHeaderBtnMobile{
  @apply
  lg:hidden
  grid
  place-items-center
  rounded-full
  px-3
  py-1
  font-fira-sans
  font-semibold
  text-xl
  text-amber-500
  border
  border-amber-500
  hover:text-amber-700
  hover:border-amber-700
  hover:-skew-x-6
  -inset-full
  focus:outline-none
  transform
  transition
  delay-100
  ease-in-out
}

.roomsInpBtn{
  @apply
  top-0
  z-50
  sticky
  mx-auto
  w-[90%]
  lg:h-[45px]
  md:h-[60px]
  h-[75px]
  rounded-md
  border
  border-amber-500
  text-lg
  text-amber-500
  -inset-full
  hover:-skew-x-6
  hover:border-amber-700
  hover:text-amber-700
  focus:outline-none
  transform
  transition
  delay-100
  ease-in-out
  flex
  items-center
  justify-center
  space-x-3
}

.roomsInputModal{
  @apply
  lg:h-[85%]
  md:h-[90%]
  h-[95%]
  lg:w-[65%]
  md:w-[85%]
  w-[95%]
  bg-slate-800
  rounded-md
  border
  border-amber-700
  flex
  flex-col
}

.roomArticle{
  @apply
  rounded
  border
  lg:h-[320px]
  md:h-[280px]
  h-[240px]
  lg:w-[75%]
  md:w-[85%]
  w-[95%]
  flex
  flex-col
  items-start
  -inset-full
  border-amber-500
  hover:border-amber-700
  hover:-skew-x-6
  transform
  transition
  delay-100
  duration-200
  ease-in-out
}

.roomArticleHeader{
  @apply
  flex
  items-center
  h-[60px]
  w-full
  px-3
  justify-between
  border-b
  border-amber-600
}

.roomArticleBody{
  @apply
  h-[90%]
  flex
  flex-col
  items-center
  space-y-4
}

.roomArticleBtns{
  @apply
  bg-inherit
  rounded-full
  mx-auto
  border
  font-fira-sans
  font-semibold
  border-amber-500
  text-amber-500
  hover:border-amber-700
  hover:text-amber-700
  transform
  transition
  delay-100
  ease-in-out
  p-3
  grid
  place-items-center
}

.roomArticleRead{
  @apply
  h-[80%]
  lg:w-[50%]
  md:w-[75%]
  w-[95%]
  mx-auto
  bg-slate-800
  bg-opacity-90
  border
  border-amber-600
  rounded
}

.roomArticleComment{
  @apply
  h-[80%]
  lg:w-[50%]
  md:w-[75%]
  w-[95%]
  mx-auto
  bg-slate-800
  bg-opacity-90
  border
  border-amber-600
  rounded
}

@keyframes fade {
  0% { background-color: rgb(72, 40, 40); }
  25% { background-color: rgb(57, 9, 57); }
  50% {background-color: rgb(64, 71, 71);}
  75% {background-color: rgb(44, 39, 80);}
  100% { background-color: rgb(79, 14, 54); }
}

}

.animationTest{
  animation: fade 15s infinite;
}