@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components{

  .forMobile{
    @apply
    lg:hidden
    inline-flex
  }
 
  .forDesktop{
    @apply
    lg:flex
    hidden
  }

  .headerDiv{
    @apply
    lg:flex
    items-center
    space-x-7
    hidden
  }

  .headerTitle{
    @apply
    font-fira-sans
    font-normal
    lg:text-xl
    text-lg
    text-amber-500
    -inset-full
    -skew-x-6
    hover:border-b-2
    hover:border-amber-500
    transform
    transition-all
    duration-200
    ease-in-out
    cursor-pointer
  }
  

  .headerTitleForChat{
    @apply
    font-fira-sans
    font-normal
    lg:text-xl
    text-lg
    text-amber-500
    -inset-full
    -skew-x-6
    hover:border-x-2
    px-3
    py-2
    rounded-lg
    hover:border-amber-500
    transform
    transition-all
    duration-200
    ease-in-out
    cursor-pointer
  }

  .headerTitleForDev{
    @apply
    font-fira-sans
    font-normal
    lg:text-xl
    text-lg
    text-amber-500
    -inset-full
    -skew-x-6
    hover:border-x-2
    hover:border-b-2
    px-3
    py-2
    rounded-lg
    hover:border-amber-500
    transform
    transition-all
    duration-200
    ease-in-out
    cursor-pointer
  }

  .postDiv{
    @apply
    lg:h-[40%]
    md:h-[50%]
    h-[60%]
    w-[90%]
    mx-auto
    rounded-lg
    bg-slate-500
    grid
    place-items-center
    space-y-2
    hover:-skew-x-3
    hover:shadow-sm
    hover:shadow-amber-600
    duration-200
    ease-in-out
    delay-100
    transform
    transition
  }

  .neutralPostHeader{
    @apply
    w-[90%]
    h-[10%]
    md:flex
    md:items-center
    grid
    md:space-y-0
    space-y-2
    justify-between
    px-3
  }

  .postText{
    @apply
    md:inline-flex
        hidden
        h-[95%]
        w-full
        rounded-lg
        bg-slate-600
        px-3
        py-2
        overflow-y-scroll
        text-lg
        font-path-ex
        scrollbar-thin
        scrollbar-track-slate-700
        scrollbar-thumb-amber-600
        text-slate-50
  }

  .neutralPostFooter{
    @apply
    w-[90%]
    h-[20%]
    flex
    items-center
    px-3
    justify-between
  }

  .neutralPostButton{
    @apply
    lg:w-[40%]
    md:w-[60%]
    md:flex
    items-center
    justify-evenly
    hidden
    h-[30px]
    font-path-ex
    font-normal
    text-lg
    text-slate-50
    bg-amber-500
    border-0
    outline-none
    hover:bg-slate-700
    hover:text-amber-600
    hover:-skew-x-12
    transform
    rounded-lg
    transition
    duration-200
    ease-in-out
  }

  .neutralPostMobBtn{
    @apply
    md:hidden
    flex
    items-center
    justify-evenly
    w-[50%]
    h-[30px]
    font-path-ex
    font-normal
    text-lg
    text-slate-50
    bg-amber-500
    border-0
    outline-none
    hover:bg-slate-700
    hover:text-amber-600
    hover:-skew-x-12
    transform
    rounded-lg
    transition
    duration-200
    ease-in-out
  }

  .editModalMainDiv{
    @apply
    flex 
    h-screen
    w-screen 
    rounded-lg
    justify-center 
    items-center  
    fixed 
    inset-0 
    z-50 
    outline-none 
    bg-slate-900
    bg-opacity-75  
  }

  .editModalDiv{
    @apply
    flex
    flex-col
    lg:h-[50vh]
    md:h-[60vh]
    h-[70vh]
    lg:w-[40vw]
    md:w-[60vw]
    w-[80vw]
    bg-slate-600
    rounded-lg
    items-center
    overflow-hidden
  }

  .readMoreDiv{
    @apply
    inset-0
    z-50
    fixed
    h-screen
    w-screen
    overflow-hidden
    outline-none
    bg-slate-800
    bg-opacity-60
    grid
    place-items-center
  }

  .rmCenterDiv{
    @apply
    place-self-center
    lg:h-[60vh]
    md:h-[70vh]
    h-[75vh]
    lg:w-[75vw]
    md:w-[85vw]
    w-[90vw]
    rounded-md
    flex
    flex-col
    overflow-y-scroll
    scrollbar-hide
    bg-slate-700
    bg-opacity-95
  }

  .readMoreTextDiv{
    @apply
    h-full
    w-full
    px-5
    py-3
    overflow-y-scroll
    scrollbar-thin
    scrollbar-track-slate-600
    scrollbar-thumb-amber-700
    font-normal
    font-fira-sans
    text-amber-400
  }

  .commenterName{
    @apply
    lg:text-3xl
    text-xl
    font-path-ex
    font-semibold
    text-amber-500
  }

  

@keyframes fade {
  0% { background-color: rgb(72, 40, 40); }
  25% { background-color: rgb(57, 9, 57); }
  50% {background-color: rgb(64, 71, 71);}
  75% {background-color: rgb(44, 39, 80);}
  100% { background-color: rgb(79, 14, 54); }
}

}

.animationTest{
  animation: fade 15s infinite;
}